*{

    margin:0px;
    padding: 0px;
   }
   .header{
      height: 100vh;
      width: 100%;
      background-image:linear-gradient(rgba(228, 228, 228, 0.7),rgba(255, 255, 255, 0.7)) ,url('images/Universityimg.jpg');
      background-size: cover;  
      background-repeat: no-repeat; 
      background-position: center;
                

   }
   nav{
      display: flex;
      padding: 1% 2%;
      justify-content: space-between;
      align-items: center;
   }
   nav img{
      width: 250px;
      height: 250px;
      margin: 8px 0 8px;
      object-position:-50px -50px;
      background-size: cover;
   
   }
   .nav-links{
      flex: 1;
      text-align: right;
   }
   .nav-links ul li{
      list-style: none;
      display: inline-block;
      padding: 10px 10px;
      position: relative;
      margin: 10px;
      margin-bottom: 20%;
      object-position:-10px -20px;
   }
   .nav-links ul li a{

      color: rgb(255, 255, 255);
      text-decoration: none;
      font-size: 15px;
      font-family:"Gill Sans", sans-serif;
      
      
   }

   .nav-links ul li::after{
      content: '';
      width: 0;
      height: 1px;
      background: #43424b;
      display: block;
      margin: auto;
      transition: 1.5s;
      
   }
   .nav-links ul li:hover::after{
      width: 100%;  
   }
   .textbox{
      color: rgb(245, 245, 245);
      text-decoration: none;
      /* font-size: 12px; */
      font-family: "Times New Roman", Times, serif;
      width: 90%;
      position: absolute;
      top:50%;
      left:50%;
      transform:translate(-50%,-50%);
      text-align: center;
      
   }
   .textbox h1{
      font-size: 40px;
      color: rgb(112, 5, 2);
      
      

   }
   .textbox p{
      color: rgb(0, 0, 0);
      font-size: 17px;
      margin: 60px 0 90px;
      
      
      /*  top 10px ,0 from left and right and 30 px from bottom */
      
   }

   .button{
      display: inline-block;
      text-decoration: none;
      color: #ffffff;
      border: 1px solid #0f0e0e;
      padding: 10px 10px;
      font-size: 12px;
      position: relative;
      cursor: pointer;

   }
   .button:hover{
      background-color: #2a17be;
      transition: 1s;
      position: relative; 

   }
   nav .material-symbols-outlined {
    display: none;
}   

@media(max-width:700px){
.textbox h1{
      font-size: 16px;
      font-weight: 300;  
      
   }
   
   .nav-links ul li{
      display: block;

   }
   .nav-links{
      position: absolute;
      background-color: #193f90;
      height: 100vh;
      width: 150px;
      top: 0;
      right: -150px;
      text-align: left;
      z-index: 2;
      transition: 1s;
   }

   
   .nav-links ul{
      padding: 20px;

   }
   nav .material-symbols-outlined{
      display: block;
      color: #ffffff;
      float: right;
      position: absolute;
      top: 2%;
      right: 2%;
      font-size: 12px;
      cursor: pointer;
      margin:  10px 0 10px;
      
   }
   .textbox p{
      color: rgb(0, 0, 0);
      font-size: 4px;
      margin: 5px 5px;
   }
   nav img{
      width: 100px;
      height: 100px;
      margin: 2px 0 2px;
      object-position:-20px -20px;
      background-size: cover
   }
   .button{
      display: inline-block;
      text-decoration: none;
      color: #ffffff;
      border: 1px solid #0f0e0e;
      padding: 6px 6px;
      margin: 7px 7px;
      font-size:5px;
      position: relative;
      cursor: pointer;

   }
   .button:hover{
      background-color: #2a17be;
      transition: 1s;
      position: relative;
   }
   .nav-links ul li a{
      font-size: 10px;
   }



}         
/* Section 2 of Courses */ */
 .course{
   color: #000000;
   width: 100%;
   margin: auto;
   text-align: center;
   padding-top: 70px;

}
.course{
   background-image:linear-gradient(rgba(128, 123, 123, 0.7),rgba(213, 222, 227, 0.7)) ,url("images/Lecturehall.jpg");
   width: 1350px;
   height: 800px;
   object-position:-50px -50px;
   background-size: cover;
   text-align: center;
}
h1{
   font-size: 40px;
   font-weight: 600;
}
p{
   color: #ffffff;
   font-size: 18px;
   font-weight: 300;
   line-height: 22px;
   padding: 10px;
   margin: 10px 0 10px;
   
}
.row{
   margin-top: 5%;
   justify-content: space-between;
   display: flex;
}
.courseoverview{
   flex-basis: 17%;
   background-color: #ffb787;
   border-radius: 20px;
   margin-bottom: 10%;
   padding:23px 7px;
   box-sizing: border-box;
   transition: 0.7s;
}
h3{
   text-align: center;
   font-weight: 600;
   margin: 10px 0 ;
}
.courseoverview:hover{
   box-shadow:0 0 20px 0px #010004;
}
 img{
      width: 250px;
      height: 250px;
      margin: 8px 0 8px;
      object-position:-50px -50px;
      background-size: cover;
   
   }
@media(max-width:700px){
   .course{
      color: #000000;
      width: 100%;
      margin: auto;
      text-align: center;
      padding-top: 70px;
      height: 100%;
   
   }
   .row{
      flex-direction: column;
   }
   .course h1{
      font-size: 20px;
      margin: 10px 0 20px;
      top:1%;
   }
   .course p {
      color: rgb(255, 255, 255);
      font-size: 8px;

   }
   .courseoverview{
      flex-basis: 17%;
      background-color: #b0e798;
      border-radius: 10px;
      margin-bottom: 10%;
      padding:12px 7px;
      box-sizing: border-box;
   }
   .courseoverview:hover{
      box-shadow:0 0 20px 0px #010004;
   }
   .row h3{
      text-align: center;
      font-weight: 600;
      margin: 16px 0 ;
   }
   .row p{
      font-size:10px;
   }
      


}
/*------------------- Campus---------------------------------------------------------------- */
.campus{
   /* width: 80%; */
   margin: auto;
   text-align: center;
   padding: 30px;
   background-image:linear-gradient(rgba(255, 255, 255, 0.7),rgba(192, 190, 190, 0.7)) ,url("images/Universityimg.jpg");
   width: 1300px;
   height: 590px;
   object-position:-50px -50px;
   background-size: cover;
   text-align: center;
   position: relative;
   
  
} 
.campus p{
   color: #010004;  
   font-size: 20px;
   font-family: 'Arial Narrow', Arial, sans-serif; 
   margin: 40px 0 40px;
   

}


.campus h1{
   font-size:50px ;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.camp{
   display: flex;
   margin-top: 5%;
   justify-content: space-between;
   position: absolute;
}
.camp-col{
   flex-basis: 30%;
   margin-bottom: 10px;
   overflow: hidden;
   box-sizing: border-box;
   border-radius: 20px;
   position: relative;
   /*background-color: #d4d4d4;
   padding:0px 0px;
   transition: 0.7s;
   text-align: center; */
   background-size: cover;
   margin: 40px 40px;
   justify-content: space-between;
   top: 10%;
   

}
.camp-col:hover{
   box-shadow:0 0 20px 0px #010004;

}
.camp-col img{
   width: 120%;
 
   /* display: block; */
  
}
.camp-col h3{
   width: 100%;
   font-weight: 500;
   color: #ffffff;
   font-size: 30px;
   bottom: 0;
   left: 40%;
   transform: translateX(-40%);
   position: absolute;
   opacity: 0;
   transition: 0.5s;
}
.camp-col:hover h3{
   bottom: 49%;
   opacity: 1;

}
 @media(max-width: 320px) {
   .campus {
       width: 90%;
       height: 1100px;
       padding: 15px;
       background-size: cover;
       position: relative;  
       
   }
   .campus p {
       font-size: 16px;
       margin: 20px 0;
   }
   .campus h1 {
       font-size: 30px;
   }
   .camp {
       flex-direction: column;
       margin-top: 10%;
       /* display: block; */
    } 
   .camp-col {
       flex-basis: 50%;
       margin: 20px 0;
   }
   .camp-col:hover{
      box-shadow:0 0 20px 0px #010004;
   }
   .camp-col h3 {
       font-size: 30px;
       left: 50%;
       transform: translateX(-50%);
   }
}  

/* -------------------------------Facilities---------------------------------------------------- */
.facilities{
   width: 100%;
   margin: auto;
   text-align: center;
   position: relative;
   background-image:linear-gradient(rgba(255, 255, 255, 0.7),rgba(192, 190, 190, 0.7)), url("images/auditorium.jpg");
   height: 920px;
   width:1365px;
   background-size: cover;
   
}
.faculty{
   display: flex;
   margin-top: 2%;
   justify-content: space-between;
   position: absolute;
}
.facilty{
   flex-basis: 20%;
   margin-bottom:10px ;
   box-sizing: border-box;
   border-radius: 30px;
   overflow: hidden;
   position: relative;
   justify-content: space-between;
   top: 10%;
   margin: 20px 20px;
   text-align: left;
 
}
.facilty p{
   color: #000000;
   font-size: 15px;
   text-align: left;
   padding: 0;
}
.facilty h3{
   margin-top: 10px;
   margin-bottom: 10px;
   text-align:left;
   font-size: 20px;
   
}
.facilty img{
   width: 150%;
   height: 400px;
   border-radius: 5px;
}
@media(max-width:320px){
  .facilities{ 
   width: 90%;
   height: 3150px;
   padding: 15px;
   background-size: cover;
   position: relative; 
  }
  .faculty{
   flex-direction: column;
  }
  .facilty{
   flex-basis: 20%;
   margin: 20px 0;
  }
.facilities h1{
   font-size: 30px;
  }
  .facilities p{
   font-size:15px;

  }
  .facilty img{
   width: 115%;
   height: 350px;
  }

}
/* -----------------Testimonial----------------------- */
.testimonial{
   width: 80%;
   margin: auto;
   padding: 20px;
   text-align: center;
   background-image:linear-gradient(rgba(202, 202, 202, 0.7),rgba(255, 248, 248, 0.7)), url("images/studenbcg.jpg");
   height:500px;
   width:1330px;
   background-size: cover;
   position: relative;

}
.test-col{
   flex-basis: 30%;
   border-radius: 10px;
   margin-bottom: 5%;
   margin-top: 3%;
   text-align: left;
   padding: 20px;
   cursor:pointer;
   display:flex;
   background-color: #ccdfff;
}
.test-col p{
   color: #000000;
   text-align: left;
   padding: 0;
   font-family:Arial, Helvetica, sans-serif;
}
.test-col h3{
   text-align: left;
   margin-top: 15px;

}
.test-col img{
   height: 100px;
   width: 100px;
   margin-left: 15px;
   margin-right: 30px;
   border-radius: 60%;
   object-position:center ;

}
.test-col .fa{
   color: rgb(220, 62, 14);
}
@media(max-width:320px){
   .test-col img{
      margin-left: 0px;
      margin-right: 10px;
      
   }
   .testimonial{
      width: 90%;
      height: 1200px;
      padding: 15px;
      background-size: cover;
      position: relative;
   }
   .test-col{
      flex-direction: column;
   }
   .testimonial h1{
      font-size: 25px;
   }
   .testimonial p{
      font-size:15px;
   }
   .test-col{
      flex-basis: 15%;
   }
}
/* ----------------Contact----------------------------------------------- */
.contact{
   margin: 0px;
   width: 100%;
   background-image:linear-gradient(rgba(22, 20, 20, 0.7),rgba(195, 195, 195, 0.7)), url("images/contact.jpg");
   text-align: center;
   background-position: center;
   background-size: cover;
   padding: 100px 0px;
   border-radius: 5px;
   height: 200px;
}
.contact h1{
   font-size: 50px;
   color: #ffe8e8;
   margin-bottom: 40px;
   padding: 0;
}
@media(max-width:320px){
   .contact{
      width: 90%;
      height: 180px;
      padding: 15px;
      background-size: cover;
      position: relative;
   }
   .contact h1{
      font-size:25px ;
   }
}
/* ------------------------Footer------------------------------- */
.footer{
   text-align: center;
   width: 100%;
   padding: 30px 0;
   background-color: #fff0f0;

}
.footer h4{
   font-size: 30px;
   margin-bottom: 20px;
   font-weight: 600;
}
.footer p{
   color: #000000;
   font-size: 20px;
}
.copyright{
   margin: 20px;
   text-align: center;
}
.icons{
   color:#120f0e ;
   margin: 0px 20px;
   padding: 18px;
   cursor: pointer;
   font-size: 30px;
   
}
.fa-heart{
   color: #ff442f;
   font-size: 20px;

}
/* -------------------------AboutPage-------------------------------- */
.sub-header{
   height: 70vh;
   width:100%;
   background-image: linear-gradient(rgba(163, 163, 165, 0.7),rgba(54, 57, 64, 0.7)),url("images/aboutpage.jpg");
   background-position: center;
   background-size: cover;
   text-align: center;
   color: #ffffff;
   
   
   
}
.sub-header h1{
   font-size: 70px;
   color: #ffaf88;
   
}
.about-col p{
   color: #000000;
}
.about-us{
   width: 100%;
   margin: auto;
   padding-top: 30px;
   padding-bottom: 50px;
   background-color: #a3a8b0;
   background-size:cover;
   text-align: center;
}
.about-col{
   flex-basis: 48%;
   padding: 30px 2px;
}
.about-col p{
   text-align: left;
}


.about-col img{
   width: 100%;
   height: 60%;
   flex-basis: 50%;
   box-sizing: border-box;
   border-radius: 40px;
}
.about-col h1{
   padding-top: 0;
}
.about-col p{
   padding: 25px 0 25px;
   font-family:'Times New Roman', Times, serif;
   font-size: 20px;
   color: #ffffff;
}
.redbtn{
   border: 1 px solid #3d3e41;
   background: transparent;
   color: #1d1817;
   font-size: 15px;
   
   
   
}
.redbtn:hover{
   color: #efeff0;
}
@media(max-width:320px){
   .about-col h1{
      font-size: 30px;

   }
   .about-col p{
      font-size: 15px;
      margin: 10px 0 10px;
   }
   .sub-header h1{
      font-size: 40px;
   }
   .about-col img{
      width: 120%;
      height: 120%;
      margin: 20px 0 0px;

   }

}
/* ------------------------Blog-------------------------- */
.sub-header h1{
   font-size: 40px;
   /* padding: 10px 10px; */
   color: #ccdfff;
}
.blogs{
   background-color: #d6e2f6;
   text-align: center;
   flex: 30%;
   margin: auto;
  
}
.blog{
   display: flex;
   justify-content: space-between;
}
.blog-col{
   flex-basis: 20%;
   background-color: #ffa8a8;
   box-sizing: border-box;
   border-radius: 25px;
   height: 70vh;
  text-align: center;
   padding: 7px 10px;
   flex-direction: column;
}
.blog-col:hover{
   box-shadow:0 0 20px 0px #010004;
}
.blog-col p{
   font-size: 15px;
}
.comment-box{
   border:1px solid #767171;
   /* margin: 50px 0; */
   padding: 10px 20px;
}
.comment-box h3{
   text-align: left;
}
.comment-form input,.comment-form textarea{
   width: 100%;
   padding: 10px;
   margin: 15px 0;
   box-sizing: border-box;
   border: none;
   outline: none;
   background-color: #ededed;

}
.comment-form button{
   background-color: #fd9f9f;
   margin: 10px 0;
}
@media(max-width:320px){
   .sub-header{
      width:100%;
   }
   .sub-header h1{
      font-size: 15px;
   }
   .blogs{
      width: 100%;
      margin: auto;
      background-color: #ffa8a8;
      box-sizing: border-box;
      border-radius: 5px;
      height: 100%;
     text-align: center;
      padding-top: 70px;
}
.blog{
   flex-direction: column;
}
.blog-col h2{
   font-size: 20px;
}
.blog-col{
   flex-basis: 10%;
   border-radius: 10px;
   box-sizing: border-box;
   padding:12px 7px;

}

}
/* -----------------------contact media query------- */
@media(max-width:320px){
   .sub-header h1{
      font-size: 25px;
   }

}